services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    ports: 
      - "443:443"
    networks:
      - inception
    restart: always

networks:
  inception:
    driver: bridge